h1{
    background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font-size: 45px;   
    font-family: arial;  
    font-weight: bold; 
}

h2{
    font-size: 2rem;
    background: -webkit-linear-gradient(120deg, hsl(318, 94%, 61%), hsl(239, 69%, 51%));
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
    font: bold 14 px   monospace ; 
}

body{
    text-align: center; 
}

header, section, footer, aside, nav, article, hgroup{
    display: block;
}

.text{
    background-color: black;
    -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.agrupar{
    width: 1000px;  
    background: rgb(2,0,36);
    background: linear-gradient(120deg, rgba(2,0,36,1) 0%, rgba(121,9,96,1) 22%, rgba(0,255,239,1) 100%);
    margin: 25px auto;  
    padding: 40px;     
}

header{
    background-color: cyan;   
}

.cabezera{
    background-color: white;
    border: 1px solid black;
    
}

.cabezera h1{
    text-align: left;
    padding: 20px;

}

.menu{
    background-color: whitesmoke;
    padding: 5px 15px;  
    text-align: left;   
    border: 1px solid black;
}

.menu li{   
    list-style: none;
    padding: 5px;
    font: bold 14px verdana;
    display: inline-block;   
}

.seccion{
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    margin: 20px;
    width: 58%;   
    border: 1px solid black;
    float: left;    
}

.columna{
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,248,1) 100%);
    margin: 20px 0px;
    width: 36%;
    border-radius: 10px solid black;
    float: left;
}

.pie{
    clear: both;
    padding: 20px;
    background: rgb(152,0,255);
    background: linear-gradient(90deg, rgba(152,0,255,1) 0%, rgba(255,0,0,1) 50%, rgba(83,52,7,1) 100%);
    font: bold 16px times new roman;
}

.seccion article{
    background-color: whitesmoke;
    padding: 15px;
    margin: 15px;
    border: 1px solid whitesmoke;
}

.seccion h2{
    text-align: left;
}

.seccion footer{
    text-align: left;
    padding: 15px;
    color: brown;
}
.seccion p{
    text-align: justify
}

.seccion img{
    width: 320px;
    display: block;
    margin: auto;
    padding: ;
}
.columna blockquote{
    border: 1px solid black;
    background-color:white;
    padding: 80px;
    font: bold 14px monospace ;
}

